
.slider{
    padding: 40px;
    margin-left:30px ;
    align-content: center;
}
.slider Slider image{
 align-content: center;
}

@media (max-width: 600px) {
    .slider {
        overflow-x: auto;
    }
}